body {
	background-color: #214541;
	color: white;
}

#peopleHolder {
	display: flex;
	flex-direction: row;
}

section {
	border: solid black 2px;
	max-height: 800px;
	width: 400px;
	margin: 10px;
	display: inline-block;
}

h3 {
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	width: inherit;
}

img {
	height: 300px;
	width: inherit;
}