body {
	background-color: #214541;
	color: #2c3539;
	width: 80%;
}

h1 {
	color: #63B995;
}

#peopleHolder {
	display: flex;
	/*flex-direction: row;*/
	margin: 10px 0 10px 0;
}

section {
	border: solid #214546 2px;
	max-height: 800px;
	width: 400px;
	margin: 10px;
	padding: 2px;
	display: inline-block;
}

h3 {
	color: #2c3539;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	width: inherit;
}

img {
	height: 300px;
	width: inherit;
}

/*For every even numbered element, have a light yellow background.*/
#peopleHolder div:nth-child(even) {
	background: #D6F345;
}

/*For every odd numbered element, have a light blue background.*/
#peopleHolder div:nth-child(odd) {
	background: #63B995;
}

/*When you click on one of the person elements, a dotted border should appear around it.*/
.border {
	border: 2px dotted white;
}